body {
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#FontManipulation {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: greenyellow;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

canvas {
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
    padding: 10px;
}